form .submit-btn{
    width:100%;
    height: 30px;
    font-size: 18px;
    background-color:black;
    color: white;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(238, 237, 237);
    font-family: 'Yanone Kaffeesatz', sans-serif;  
}
::placeholder{
    font-family: 'Yanone Kaffeesatz', sans-serif;  
}



.wrapper{
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
    background-color:white;
    width: 400px;
    padding:20px;
    
}

.own-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.header{
    display: flex;
    justify-content:space-between;
    margin-left: 10px;
    height:40px;
    position: relative;
}

.name_status{
    display: flex;
    flex-direction:column;
    margin-left: 15px;
    color:black;
    
}
.own-name{
    font-size:24px;
    font-weight:600;
}
.own-status{
    color: black;  
    
}

.logout-btn{ 
    display: flex;
    margin-top: 5px;
    
    height: 30px;
    width:80px;
}

input[type="button"]{
    font-family: 'Yanone Kaffeesatz', sans-serif;  
    font-size:20px;
    background-color: #333;
    color:white;
    font-weight:600;
  }



.content{
    display: flex;
    position: relative;
    height:40px;
    align-items: center;
    justify-content: center;
      
  }
.search-box{
    position: absolute;
    width : calc(100% - 50px);
    height:35px;
    border-color: #ccc;
    outline:none;
    opacity:0;
    pointer-events: none;
    
}

.content input.active{
    opacity: 1;
    pointer-events: auto;
}

.search-icon{
    
    justify-content: center;
    height:35px;
    display:flex;
    align-items:center;
    position: absolute;
    border: 2px solid;
    width:50px;
    background:rgb(231, 230, 230);
    color:#333;
    font-size:20px;
    border-radius:0 8px 8px 0;
    right:0;
    
}

.active-search-icon{
    background:#333;
    color:rgb(231, 230, 230);
}
.active-search-logo{
    opacity: 0;
}

}

.users-list::-webkit-scrollbar{
    width:0px;

}
.user-child{
    padding:5px;
    position:relative;
    display: flex;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #ccc;
    border-width: 2px;
}
.users-status{
    font-size: 10px;
    position: absolute;
    right: 17px;
    top: 20px;
    color:green;
}
.users-status-off{
    color:#ccc;

}


.search-child-2{
    font-size: 18px;
    color:black;
    font-weight:600;
}

.user-body{
    position: relative;
    max-height: 400px;
    overflow-y:scroll;
}

.user-body::-webkit-scrollbar{
    width: 0;
}


.x_mark{
    position: absolute;
    color:white;
    opacity: 0;
}

.x_mark-active{
    position: absolute;
    color:white;
    opacity: 1;
}

